<ion-view>
  <ion-nav-title>
    <span ng-if="list">
	    {{list.name}}
    </span>
  </ion-nav-title>
  <ion-content>
    <div class="center scroll" ng-hide="list">
      <div class="row">
        <div class="col center spinner-container">
		      <ion-spinner class="spinner-royal" icon="ripple"></ion-spinner>
	      </div>
	    </div>
    </div>
    <ion-list ng-hide="!list">
        <ion-item
          class="item-left"
          collection-repeat="entry in list.entries"
          item-height="73px"
          item-width="100%"
		      type="item-text-wrap"
		      ng-attr-href="{{'#/tab/lists/' + list.id + '/' + entry.id }}">
          <h2>{{entry.name}}</h2>
          <p>
            <span
              ng-if="entry.displayed_distance_from_me"
              class="distance-from-me">
              <i class="icon ion-ios-navigate"></i>
              {{entry.displayed_distance_from_me}} mi
            </span>
            <span
              ng-if="entry.place && entry.place.neighborhoods">
              <i class="icon ion-ios-location"></i>
              {{entry.place.neighborhoods}}
            </span>
          </p>
          <span class="badge {{entry.place.litness > 80 ? 'badge-assertive' : (entry.place.litness > 50 ? 'badge-energized' : 'badge-calm')}}">{{entry.place.litness}}</span>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
